---
layout: default
---
<div class="container max-w-2xl">
  <article>
    <header class="text-center">
      <h1 class="page-title"><%= resource.data.title %></h1>
    </header>
    <main class="markdown">
      <%= yield %>
    </main>
  </article>
</div>
