---
layout: default
---
  <div class="container max-w-2xl">
    <article>
      <header class="text-center">
        <h1 class="page-title">{{ page.title }} </h1>
      </header>
      <main class="markdown">
        {{ content }}
      </main>
    </article>
  </div>
  