<section class="container flex flex-col max-w-3xl text-base divide-y gap-y-3 not-prose article-list">
  <% collections.posts.resources.each do |post| %>
    <article class="flex items-center justify-between pt-3 gap-x-3">
      <a class="truncate" href="<%= post.relative_url %>"><%= post.data.title %></a>
      <span class="text-sm text-right text-gray-400 shrink-0"> <%= reading_time(post.content) %> min read</span>
    </article>
  <% end %>
</section>
